---
const { frontmatter } = Astro.props;
import MainLayout from '../layouts/MainLayout.astro';
import Newsletter from '../components/Newsletter.astro';
---
<MainLayout title={frontmatter.title} description={frontmatter.description} thumbnail={frontmatter.thumbnail}>
    <main class="blog-post">
        <h1>{frontmatter.title}</h1>
        <!-- <h5>{frontmatter.date}</h5> -->
        <slot />

        <Newsletter />
    </main>
</MainLayout>
